:root {
  --header-color: #212121;
  --background-second-text-color: #ffffff;
  --logo-dark-color: #000000;
  --logo-white-color: #ffffff;
  --color-text-hover: #ffffff;
  --paragraph-text-color: #757575;
  --background-color: #2f303a;
  --icon-bg-background-color: #f5f4fa;
  --accent-text-color: #2196f3;
  --focus-color-btn: #188ce8;
  --gradient-color: rgba(47, 48, 58, 0.4);
  --second-icon-color: #afb1b8;
  --icon-color: #757575;
  --bg-color-footer: rgba(255, 255, 255, 0.1);
  --animation-time: cubic-bezier(0.4, 0, 0.2, 1);
  --time: 250ms;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  background-color: var(--background-second-text-color);
}

@media screen and (min-width: 320px) {
  body {
    overflow-x: hidden;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.dark {
  color: var(--logo-dark-color);
}

.logo.dark {
  margin-right: 93px;
}

.logo .first-part {
  color: var(--accent-text-color);
}

.white {
  color: var(--logo-white-color);
}

.logo.white {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.site-nav {
  display: flex;
  color: var(--header-color);
  transition: color var(--time) var(--animation-time);
}

.site-nav:hover, .site-nav:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.site-nav .link.current::after {
  content: '';
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: -34px;
  display: block;
  background: var(--accent-text-color);
}

.section-title {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

@media screen and (min-width: 1200px) {
  .section-title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}

.icon-all {
  fill: var(--second-icon-color);
  transition: fill var(--time) var(--animation-time);
}

.icon-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background: var(--icon-bg-background-color);
  border-radius: 4px;
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  color: var(--background-second-text-color);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--time) var(--animation-time);
}

.social-link:focus, .social-link:hover {
  background-color: var(--accent-text-color);
}

.social-link:focus .icon-all,
.social-link:hover .icon-all {
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity var(--time) var(--animation-time), visibility var(--time) var(--animation-time);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  width: calc(100% - 30px);
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--time) var(--animation-time);
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.btn-modal {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--header-color);
  transition: color var(--time) var(--animation-time);
}

.btn-modal:hover, .btn-modal:focus {
  color: var(--accent-text-color);
}

.modal-icon {
  fill: currentColor;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-frm-head {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

@media screen and (min-width: 1200px) {
  .modal-frm-head {
    line-height: 1.15;
  }
}

.modal-form-field {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--paragraph-text-color);
}

.modal-style {
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--time) var(--animation-time), box-shadow var(--time) var(--animation-time);
}

.modal-style:focus {
  outline: none;
  border-color: var(--accent-text-color);
}

.modal-form-block {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form-input {
  height: 40px;
  padding-left: 42px;
}

.modal-frm-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--time) var(--animation-time), box-shadow var(--time) var(--animation-time);
}

.modal-style:focus + .modal-frm-icon {
  fill: var(--accent-text-color);
}

.modal-form-massage {
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-form-massage::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-frm-checkbox:checked + .modal-frm-checkbox-lbl::before {
  background: url(../images-studio/icon-check.svg);
  width: 16px;
  height: 15px;
}

.modal-frm-checkbox:focus + .modal-frm-checkbox-lbl::before {
  outline: 2px solid var(--accent-text-color);
}

.modal-frm-checkbox-lbl {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}

.modal-frm-checkbox-lbl::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background: url(../images-studio/icon-notchecked.svg);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .modal-frm-checkbox-lbl {
    font-size: 14px;
    line-height: 1.71;
  }
}

@media screen and (max-width: 479px) {
  .modal-frm-checkbox-lbl {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.link-accept-police {
  color: var(--accent-text-color);
}

.modal-form-button {
  align-self: center;
  border: none;
  padding: 10px 55px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  color: var(--background-second-text-color);
  background-color: var(--accent-text-color);
  transition: background-color var(--time) var(--animation-time), box-shadow var(--time) var(--animation-time);
}

.modal-form-button:focus, .modal-form-button:hover {
  background-color: var(--focus-color-btn);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  background-color: var(--background-second-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.nav__menu-list {
  display: flex;
}

@media screen and (max-width: 767px) {
  .nav__menu-list {
    display: none;
  }
}

.nav__menu-item:not(:last-child) {
  margin-right: 50px;
}

@media screen and (max-width: 767px) {
  .nav__menu-item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.nav__menu-link {
  color: var(--header-color);
  position: relative;
  transition: color var(--time) var(--animation-time);
  padding-bottom: 32px;
  padding-top: 32px;
}

.nav__menu-link.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.nav__menu-link:hover, .nav__menu-link:focus {
  color: var(--accent-text-color);
}

@media screen and (max-width: 767px) {
  .nav__menu-link .nav__menu-link::after {
    display: none;
  }
}

.current {
  color: var(--accent-text-color);
}

.header__contact-list {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .header__contact-list {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .header__contact-list .header__contact-item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .header__contact-list .header__contact-item:not(:last-child) {
    margin-right: 30px;
  }
}

.header__contact-item {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1199px) {
  .header__contact-item {
    font-size: 12px;
    line-height: 1.17;
  }
}

.header__mail,
.header__tel {
  display: flex;
  align-items: center;
  padding-bottom: 32px;
  padding-top: 32px;
  color: var(--icon-color);
  transition: color var(--time) var(--animation-time);
}

.header__mail:hover, .header__mail:focus,
.header__tel:hover,
.header__tel:focus {
  color: var(--accent-text-color);
}

@media screen and (max-width: 1199px) {
  .header__mail,
  .header__tel {
    padding-bottom: 0;
    padding-top: 0;
  }
}

.icon {
  margin-right: 10px;
  fill: var(--icon-color);
}

.header__mail-icon {
  height: 10px;
  width: 16px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .header__mail-icon {
    height: 12px;
  }
}

.header__tel-icon {
  height: 14px;
  width: 10px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .header__tel-icon {
    height: 16px;
  }
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
  transition: color var(--time) var(--animation-time);
}

.burger-btn:hover {
  color: var(--accent-text-color);
}

.burger-btn:focus {
  color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: var(--background-second-text-color);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity var(--time) var(--animation-time), visibility var(--time) var(--animation-time);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
  color: var(--header-color);
  transition: color var(--time) var(--animation-time);
}

.close-btn:hover {
  color: var(--accent-text-color);
}

.close-btn:focus {
  color: var(--accent-text-color);
}

.burger-icon,
.close-btn-icon {
  fill: currentColor;
}

.mobile-contact-list {
  margin-bottom: 64px;
}

.menu__contact-item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-tel {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

@media screen and (max-width: 479px) {
  .contact-tel {
    font-size: 8vw;
  }
}

.contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  transition: color var(--time) var(--animation-time);
}

@media screen and (max-width: 479px) {
  .contact-mail {
    font-size: 8vw;
  }
}

.contact-mail:hover {
  color: var(--accent-text-color);
}

.contact-mail:focus {
  color: var(--accent-text-color);
}

.menu {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .menu {
    font-size: 40px;
    line-height: 1.17;
  }
}

.menu-social {
  display: flex;
}

@media screen and (max-width: 479px) {
  .menu-social {
    flex-wrap: wrap;
  }
}

.menu-social-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social-item:not(:last-child) {
  padding-right: 10px;
}

.menu-social-item:not(:first-child) {
  padding-left: 10px;
}

.menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

@media screen and (max-width: 479px) {
  .menu-social-link {
    font-size: 3vw;
  }
}

.hero {
  text-align: center;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--background-color);
  background-image: linear-gradient(var(--gradient-color), var(--gradient-color)), url(./images-studio/hero/mobile/mobile.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(./images-studio/hero/mobile/mobile@2x.jpeg);
  }
}

@media screen and (min-width: 481px) {
  .hero {
    max-width: 768px;
    margin-top: 60px;
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images-studio/hero/tablet/tablet.jpeg);
  }
}

@media screen and (min-width: 481px) and (min-device-pixel-ratio: 2), screen and (min-width: 481px) and (min-resolution: 192dpi), screen and (min-width: 481px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images-studio/hero/tablet/tablet@2x.jpeg);
  }
}

@media screen and (min-width: 769px) {
  .hero {
    max-width: 1600px;
    margin-top: 60px;
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images-studio/hero/desktop/desktop.jpeg);
  }
}

@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 192dpi), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images-studio/hero/desktop/desktop@2x.jpeg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    margin-top: 80px;
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: linear-gradient(to right, var(--gradient-color), var(--gradient-color)), url(../images-studio/hero/desktop/desktop.jpeg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images-studio/hero/desktop/desktop@2x.jpeg);
  }
}

.section-hero-container {
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .section-hero-container {
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .section-hero-container {
    width: 696px;
  }
}

.hero-text {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-second-text-color);
}

@media screen and (min-width: 1200px) {
  .hero-text {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 50px;
  min-width: 200px;
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--background-second-text-color);
  background-color: var(--accent-text-color);
  transform: background-color var(--time) var(--animation-time);
}

.hero-btn:focus, .hero-btn:hover {
  background-color: var(--focus-color-btn);
}

@media screen and (min-width: 768px) {
  .about-section {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .about-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .about-list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .about-list {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.about-list-title {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--header-color);
}

.about-list-text {
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}

.work-section {
  padding-top: 0;
}

@media screen and (max-width: 1199px) {
  .work-section {
    display: none;
  }
}

.about-work {
  display: flex;
  margin-left: -30px;
}

.work-img-list {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  position: relative;
}

.about-work-block {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
}

.about-work-text {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-second-text-color);
}

.team {
  background: var(--icon-bg-background-color);
}

.team-title {
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .team-list-img {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team-list {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (max-width: 767px) {
  .team-list:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
}

.team-img {
  align-items: center;
}

.block-team-text {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  background: var(--background-second-text-color);
}

.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
}

.team-profession {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}

.team-social {
  display: flex;
  justify-content: center;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list {
  margin: -15px;
}

@media screen and (min-width: 299px) {
  .clients-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.clients-item {
  margin: 15px;
}

@media screen and (max-width: 767px) {
  .clients-item {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .clients-item {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc((100% - 6 * 30px) / 6);
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid var(--second-icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: border var(--time) var(--animation-time);
}

.clients-link:hover, .clients-link:focus {
  border-color: var(--accent-text-color);
}

.clients-link:hover .clients-icon,
.clients-link:focus .clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--accent-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color);
}

.footer-flex {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .footer-flex {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .footer-flex {
    align-items: baseline;
    justify-content: space-between;
  }
}

.style-footer:not(:last-child) {
  margin-bottom: 9px;
}

.contact-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time) var(--color-text-hover);
}

.contact-footer:hover, .contact-footer:active, .contact-footer:focus {
  color: var(--accent-text-color);
}

.adress-block {
  display: block;
  font-style: normal;
  text-align: center;
  margin-bottom: 60px;
}

.adress {
  color: var(--background-second-text-color);
}

.social-text {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-second-text-color);
}

@media screen and (min-width: 1200px) {
  .social-text {
    text-align: left;
  }
}

.icon-footer {
  fill: #ffffff;
  transition: background-color var(--time) var(--animation-time);
}

.bg-footer {
  background: var(--bg-color-footer);
}

.form-subscribe {
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .form-subscribe {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.subscribe-label {
  margin-right: 12px;
}

.subscribe-input {
  padding: 16px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  transition: border-color var(--time) var(--animation-time);
}

.subscribe-input:hover, .subscribe-input:focus {
  color: var(--color-text-hover);
  border-color: var(--accent-text-color);
}

@media screen and (min-width: 768px) {
  .subscribe-input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-input {
    width: 358px;
    margin-bottom: 0;
    margin-right: 12px;
  }
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 28px 10px 29px;
  border: none;
  border-radius: 4px;
  min-width: 200px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-text-color);
  color: var(--background-second-text-color);
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--time) var(--animation-time), box-shadow var(--time) var(--animation-time);
}

.subscribe-button:hover, .subscribe-button:focus {
  background-color: var(--focus-color-btn);
}

.subscribe-icon {
  fill: var(--background-second-text-color);
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.section-potfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.btn-list-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .btn-list-portfolio {
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-list-portfolio {
    margin-bottom: 50px;
  }
}

.style-btn:not(:last-child) {
  margin-right: 8px;
}

@media screen and (max-width: 279px) {
  .style-btn:not(:last-child) {
    margin-bottom: 15px;
    margin-right: 0;
  }
}

@media screen and (min-width: 280px) and (max-width: 381px) {
  .style-btn:nth-child(-n + 4) {
    margin-bottom: 15px;
  }
  .style-btn:nth-child(-n + 4):nth-child(2n + 1) {
    margin-right: 8px;
  }
}

@media screen and (min-width: 382px) and (max-width: 767px) {
  .style-btn:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
  .style-btn:nth-child(-n + 3):nth-child(-n + 2) {
    margin-right: 8px;
  }
}

.btn-portfolio {
  display: block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--header-color);
  transition: color var(--time) var(--animation-time), background-color var(--time) var(--animation-time), box-shadow var(--time) var(--animation-time);
}

.btn-portfolio:hover, .btn-portfolio:focus, .btn-portfolio:active {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--color-text-hover);
  background-color: var(--accent-text-color);
}

.block-example-portfolio {
  display: flex;
  flex-direction: column;
  margin: -15px;
}

@media screen and (min-width: 768px) {
  .block-example-portfolio {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.example-portfolio-list {
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .example-portfolio-list {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .example-portfolio-list {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.link-portfolio {
  display: block;
  cursor: pointer;
}

.link-portfoliohover, .link-portfoliofocus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.link-portfoliohover .hover-overlay, .link-portfoliofocus .hover-overlay {
  transform: translateY(0);
}

.hover-background {
  position: relative;
  overflow: hidden;
}

.hover-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--time) cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-text-portfolio {
  width: 328px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-text-hover);
}

.example-block-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
}

.example-portfolio-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.example-portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
/*# sourceMappingURL=main.css.map */