:root {
	--header-color: #212121;
	--background-second-text-color: #ffffff;
	--logo-dark-color: #000000;
	--logo-white-color: #ffffff;
	--color-text-hover: #ffffff;
	--paragraph-text-color: #757575;
	--background-color: #2f303a;
	--icon-bg-background-color: #f5f4fa;
	--accent-text-color: #2196f3;
	--focus-color-btn: #188ce8;
	--gradient-color: rgba(47, 48, 58, 0.4);
	--second-icon-color: #afb1b8;
	--icon-color: #757575;
	--bg-color-footer: rgba(255, 255, 255, 0.1);
	--animation-time: cubic-bezier(0.4, 0, 0.2, 1);
	--time: 250ms;
}
