.block-example-portfolio {
  display: flex;
  flex-direction: column;
  margin: -15px;
  @media screen and (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.example-portfolio-list {
  margin: 15px;
  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 4 * 15px) / 2);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.link-portfolio {
  display: block;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    .hover-overlay {
      transform: translateY(0);
    }
  }
}

.hover-background {
  position: relative;
  overflow: hidden;
}

.hover-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--time) cubic-bezier(0.4, 0, 0.2, 1);
}

.hover-text-portfolio {
  //   height: 100%;
  //   padding: 63px 24px;
  //   position: absolute;
  //   font-weight: normal;
  width: 328px;
  height: 168px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-text-hover);
}

.example-block-text {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  padding-right: 0;
}

.example-portfolio-title {
  margin-bottom: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--header-color);
}

.example-portfolio-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--paragraph-text-color);
}
