.header {
  position: fixed;
  top: 0;
  width: 100vw;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
  background-color: var(--background-second-text-color);
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;

  transition: color var(--time) var(--animation-time);

  &:hover {
    color: var(--accent-text-color);
  }

  &:focus {
    color: var(--accent-text-color);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  z-index: 999;

  top: 0;
  left: 0;

  width: 100vw;
  height: 100vw;

  padding: 48px 40px;

  background-color: var(--background-second-text-color);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity var(--time) var(--animation-time),
    visibility var(--time) var(--animation-time);

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;

  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;

  border: none;
  color: var(--header-color);

  transition: color var(--time) var(--animation-time);

  &:hover {
    color: var(--accent-text-color);
  }

  &:focus {
    color: var(--accent-text-color);
  }
}

.burger-icon,
.close-btn-icon {
  fill: currentColor;
}

.mobile-contact-list {
  margin-bottom: 64px;
}

.menu__contact-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.contact-tel {
  @media screen and (max-width: 479px) {
    font-size: 8vw;
  }
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  color: var(--paragraph-text-color);
  @media screen and (max-width: 479px) {
    font-size: 8vw;
  }

  transition: color var(--time) var(--animation-time);
  &:hover {
    color: var(--accent-text-color);
  }
  &:focus {
    color: var(--accent-text-color);
  }
}

.menu-social {
  display: flex;

  @media screen and (max-width: 479px) {
    flex-wrap: wrap;
  }
}
.menu-social-item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &:not(:last-child) {
    padding-right: 10px;
  }

  &:not(:first-child) {
    padding-left: 10px;
  }
}
@media screen and (min-width: 358px) and (max-width: 439px) {
  .menu-social-item:nth-child(4) {
    padding-left: 0;
  }
}
@media screen and (max-width: 357px) {
  .menu-social-item:nth-child(3) {
    padding-left: 0;
  }
}

.menu-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  color: var(--accent-text-color);
}

.nav {
  display: flex;
  align-items: center;
}

.header__logo {
  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.menu {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @media screen and (max-width: 767px) {
    font-size: 40px;
    line-height: 1.17;
  }
}

.nav__menu-list {
  display: flex;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.nav__menu-item:not(:last-child) {
  margin-right: 50px;

  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }
}

.header__contact-list {
  @media screen and (max-width: 767px) {
    display: none;
  }

  display: flex;
  flex-direction: column;
  margin-left: auto;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @media screen and (max-width: 1199px) {
    .header__contact-item:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    .header__contact-item:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.nav__menu-link {
  color: var(--header-color);
  position: relative;
  transition: color var(--time) var(--animation-time);
  padding-bottom: 32px;
  padding-top: 32px;

  &.current::after {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-text-color);
  }

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }

  @media screen and (max-width: 767px) {
    .nav__menu-link::after {
      display: none;
    }
  }
}

.current {
  color: var(--accent-text-color);
}

.header__mail,
.header__tel {
  display: flex;
  align-items: center;
  color: var(--icon-color);
  transition: color var(--time) var(--animation-time);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.header__contact-item {
  display: flex;
  align-items: center;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.icon {
  margin-right: 10px;
  fill: var(--icon-color);
}

.header__mail-icon {
  height: 10px;
  width: 16px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    height: 12px;
  }
}

.header__tel-icon {
  height: 14px;
  width: 10px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    height: 16px;
  }
}
